@using WPF.Models.Dtos.User
@model UserLoginDto

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Giriþ Yap</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                        <label asp-for="Email" class="form-label">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" type="password" placeholder="password" />
                        <label asp-for="Password" class="form-label">Þifre</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Giriþ</button>
                    </div>

                    <div class="d-flex justify-content-between pt-2">
                        <p><a asp-action="Register">Yeni Kayýt Oluþtur</a></p>
                        <p><a asp-action="ForgotPassword">Þifremi Unuttum</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}