@using WPF.MVC.ViewModels.Product
@model CreateProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Ürün Oluþtur</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                @* Baþlýk *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="CreateProductDto.Title" class="form-control border-0 shadow" />
                    <label asp-for="CreateProductDto.Title" class="ms-2">Ürün Baþlýðý</label>
                    <span asp-validation-for="CreateProductDto.Title" class="text-danger"></span>
                </div>

                @* Açýklama (Zengin Metin Editörü Gelecek) *@
                <div class="py-2 col-12">
                    <label asp-for="CreateProductDto.Description" class="ms-2 text-muted">Açýklama</label>
                    <textarea asp-for="CreateProductDto.Description" class="form-control border-0 shadow"></textarea>
                </div>

                <div class="row">
                    @* ISBN *@
                    <div class="form-floating py-2 col-md-6">
                        <input asp-for="CreateProductDto.ISBN" class="form-control border-0 shadow" />
                        <label asp-for="CreateProductDto.ISBN" class="ms-2">ISBN</label>
                        <span asp-validation-for="CreateProductDto.ISBN" class="text-danger"></span>
                    </div>
                    @* Yazar *@
                    <div class="form-floating py-2 col-md-6">
                        <input asp-for="CreateProductDto.Author" class="form-control border-0 shadow" />
                        <label asp-for="CreateProductDto.Author" class="ms-2">Yazar</label>
                        <span asp-validation-for="CreateProductDto.Author" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    @* Liste Fiyatý *@
                    <div class="form-floating py-2 col-md-6">
                        <input asp-for="CreateProductDto.ListPrice" class="form-control border-0 shadow" />
                        <label asp-for="CreateProductDto.ListPrice" class="ms-2">Liste Fiyatý</label>
                        <span asp-validation-for="CreateProductDto.ListPrice" class="text-danger"></span>
                    </div>
                    @* Satýþ Fiyatý *@
                    <div class="form-floating py-2 col-md-6">
                        <input asp-for="CreateProductDto.Price" class="form-control border-0 shadow" />
                        <label asp-for="CreateProductDto.Price" class="ms-2">Satýþ Fiyatý</label>
                        <span asp-validation-for="CreateProductDto.Price" class="text-danger"></span>
                    </div>
                </div>

                @* Kategori Seçimi *@
                <div class="form-floating py-2 col-12">
                    <select asp-for="CreateProductDto.CategoryId" asp-items="@Model.Categories.Select(c => new SelectListItem { Text = c.Name, Value = c.Id.ToString() })" class="form-select border-0 shadow">
                        <option disabled selected>-- Kategori Seçiniz --</option>
                    </select>
                    <label asp-for="CreateProductDto.CategoryId" class="ms-2">Kategori</label>
                    <span asp-validation-for="CreateProductDto.CategoryId" class="text-danger"></span>
                </div>

                @* Çoklu Resim Yükleme *@
                <div class="form-floating py-2 col-12">
                    <input type="file" name="ImageFiles" class="form-control border-0 shadow" multiple />
                    <label class="ms-2">Ürün Resimleri</label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Oluþtur</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-primary border form-control">Vazgeç</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table code help wordcount',
            toolbar: 'undo redo | blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}